@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
:root {
  --primary-color: #272932;
  --secondary-color: #ff2e00;
  --text-secondary: gray;
  --text-primary: #f7f7f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:not(.errorpage) {
  margin: 0;
  font-family: "Cinzel", serif;
  background-color: var(--text-primary);
  color: var(--primary-color);
  background-image: url(/img/dracarys.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* errorpage */
.content {
  width: 80%;
  margin: auto;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.col {
  height: 20rem;
  width: 20rem;
}
.output-area {
  padding: 0 1rem;
  padding-top: 9rem;
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: white;
  font-size: 1.4rem;
  border-radius: 0.8rem;
}

#input-text {
  font-family: "Cinzel", serif;
  height: 20rem;
  padding-top: 9rem;
  padding-left: 2rem;
  width: 100%;
  border: 0;
  border-radius: 0.8rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

#btnTranslate,
#clrBtn {
  margin-top: 2rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: black;
  opacity: 70%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  border: 1px solid white;
}

#clrBtn {
  visibility: hidden;
}
/* Error */
.error-img {
  max-width: 450px;
  display: block;
  margin: 5rem auto;
}
.error-msg {
  color: var(--text-secondary);
  margin-bottom: 3rem;
}
#tryBtn {
  text-decoration: none;
  background-color: var(--secondary-color);
  padding: 0.7rem 1rem;
  border-radius: 0.6rem;
  color: var(--text-primary);
  font-weight: bold;
}
/* nav */
.navigation {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.7rem;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 3px;
  color: var(--secondary-color);
  color: white;
}

footer {
  background-color: black;
  padding: 2rem 0;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
}
/* section */
.section:not(.errorpage) {
  width: 70%;
  margin: auto;
  padding: 2rem 2rem;
  text-align: justify;
  margin-bottom: 3rem;
  background-color: black;
  opacity: 70%;
  color: white;
}

.section p {
  font-size: 1.2rem;
}

@media (max-width: 680px) {
  .content {
    margin-bottom: 6rem;
    margin-top: 4rem;
  }
  .row {
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
  }
  #input-text {
    height: 10rem;
    padding: 1rem;
    width: 100%;
  }
  .input-area {
    height: 10rem;
  }
  #btnTranslate,
  #clrBtn {
    margin-top: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .output-area {
    padding: 1rem;
    font-size: medium;
    white-space: initial;
  }
  .section p {
    font-size: medium;
  }
  .btns {
    width: 20%;
    height: 15rem;
  }
  .navigation {
    font-size: medium;
  }
  .error-img {
    max-width: 280px;
    display: block;
  }
  .error-msg {
    color: var(--text-secondary);
    margin-bottom: 3rem;
    font-size: medium;
  }
}
